%footer
  %hr
  .text-center.code
    %p
      Cards Against Humanity&trade Online&copy; is available as a toy local application only.
      All rights reserved to Andrei Sandu Development.
      = 'Version: ' + CAH::Application::VERSION